html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    line-height: 1.5;
    font-size: 1em;
    min-height: 100%;
    width: 100%;
    background: url("../img/body.png")  no-repeat #e9e9e9;
    background-size: 677px 675px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}

body > .inner {
    display: none;
}

body.pg-loaded > .inner {
    display: block;
}

a, h1, h2 {
    color: #252c42;
}

p {
    color: #333333;
}

h1 {
    font-size:  1.875em;
    font-weight: 400;
}

h2 {
    font-size: 1.25em;
    font-weight: 300;
    letter-spacing: 0.125em;
}


a:hover {
    opacity: 0.7;
}

/** —— full screen slider —— **/

/*!
 * fullPage 2.7.5
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow:hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#superContainer {
    height: 100%;
    position: relative;

    /* Touch detection for Windows 8 */
    -ms-touch-action: none;

    /* IE 11 on Windows Phone 8.1*/
    touch-action: none;
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
    height: auto;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
    overflow: scroll;
}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#fp-nav.right {
    right: 17px;
}
#fp-nav.left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
}
.fp-slidesNav.bottom {
    bottom: 17px;
}
.fp-slidesNav.top {
    top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
    margin: 0;
    padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fp-nav ul li .fp-tooltip.right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
    left: 20px;
}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
}


/** —— full screen slider end —— **/


.slide1 .content {
    background: url("../img/bg.jpg");
    background-size: cover;
}

.slide7 .content {
    background: -moz-linear-gradient(top,  #262d43 0%, #0f1328 100%);
    background: -webkit-linear-gradient(top,  #262d43 0%,#0f1328 100%);
    background: linear-gradient(to bottom,  #262d43 0%,#0f1328 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262d43', endColorstr='#0f1328',GradientType=0 );

}

.logo {
    display: block;
    width: 300px;
    height: 60px;
    position: fixed;
    left: 20px;
    top: 20px;
    background: url("../img/logo.png") no-repeat;
    background-size: 250px 60px;
    z-index: 100;
}

.logo-dark {
    display: block;
    width: calc(100% - 20px);
    height: 60px;
    position: fixed;
    left: 20px;
    top: 20px;
    background: url("../img/logo-dark.png") no-repeat;
    background-size: 250px 60px;
    z-index: 100;
}


.side-menu {
    position: absolute;
    z-index: 100500;
    height: 160px;
    width: 60px;
    top:50%;
    right: 0;
    margin-top: -80px;
}

.side-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.side-menu span {
    display: block;
    background: #252c42;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    margin: 7px auto auto 7px;
}

.side-menu a{
    display: block;
    width: 30px;
    height: 30px;
    border: 2px solid transparent;
    border-radius: 24px;
    margin: 11px 13px 13px 13px;
}

.side-menu .active {
    border: 2px solid #252c42;
}

.content {
    width: calc(100% - 60px);
    min-height: calc(100% - 100px);
    height: auto;
    padding: 100px 0 0 60px;
    position: relative;
}

.col-5 {
    width: calc(50% - 60px);
    padding: 30px;
    float: left;
}

.col-5 img {
    width: 80%;
    height: auto;
}

.col-12 {
    width: calc(100% - 60px);
    padding: 30px;
}

.parallax-viewport {
    position: relative;
    overflow: hidden;
}
.parallax-layer {
    position: absolute;
}

#port {
    overflow: hidden;
    position: absolute;
    min-height: 400px;
    height: 50%;
    background: url("../img/phones.png") no-repeat;
    background-size: cover;
}

.first-text {
    position: absolute;
    left: 50%;
}

.first-text h1 {
    color: #ffffff;
}

.first-text p {
    color: #ffffff;
}

.btn {
    display: block;
    height: 70px;
    width: 240px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    color: white;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    float: left;
    margin: 0 30px 0 0 ;
}

.btn:hover {
    background: #ffffff;
    color: #252c42;
    opacity: 1;
}

.btn-icon {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    float: left;
    padding-left: 10px;
}

.btn-icon span {
    font-size: 36px;
}

.btn-text {
    text-align: left;
    margin:  10px 0 0 10px;
    float: left;
    width: 170px;
}

.lang {
    position: absolute;
    text-align: right;
    z-index: 3000;
    width: 100px;
    height: 60px;
    right: 15px;
    top: 30px;
}

.lang a {
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

.opacity {
    opacity: 0.5;
}


.nexus {
    display: block;
    width:250px;
    height: 435px;
    position: absolute;
    background: url("../img/nexus.png");
    background-size: cover;
    top:50%;
    margin: -200px 0 0 0;
    right: -100px;
    transition: 0.3s;
}

.nexus:hover {
    right: -50px;
    opacity: 1;
}

.iphone {
    display: block;
    width:250px;
    height: 435px;
    position: absolute;
    background: url("../img/iphone.png");
    background-size: cover;
    top:50%;
    margin: -200px 0 0 0;
    left: -100px;
    transition: 0.3s;
}

.iphone:hover {
    left: -50px;
    opacity: 1;
}

.download {
    width: calc(100% - 60px);
    margin:0 auto 0 auto;
    padding: 0 60px 0 0;
    max-width: 560px;
}

.download .btn {
    margin: 60px 15px 15px 15px;
}

.download h1 {
    text-align: center;
    color: #FFFFFF;
}

.donate, .menu {
    width: calc(100% - 60px);
    float: left;
    margin:40px 0 0 0;
}

.menu {
    text-align: center;
}

.menu a {
    color: white;
}

.donate a {
    display: block;
    width: 150px;
    height: 30px;
    margin: 0 auto 0 auto;
    background: url("../img/paypal.png");
    background-size:150px 30px;
}

.copyright {
    width: 220px;
    left: 50%;
    margin-left: -110px;
    height: 40px;
    position: absolute;
    bottom: 0;
    color: white;
    opacity:0.3;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0 0 0 20px;
}

.accordion__item {
    width: 100%;
}


.accordion__trigger {
    display: block;
    background: transparent;
    text-align: left;
    list-style: none;
    outline: none;
    margin: 0;
    padding: 10px 0 10px 0;
    cursor: pointer;
}



.is-hidden {
    display: none;
}

.accordion {
    margin: 0;
}

.photo {
    width: 30%;
    float: left;
}

.desc {
    width: 70%;
    float: left;
}

.photo img {
    width: 300px;
    height: 300px;
    border-radius: 150px;
}


@media screen and (max-width: 940px) {

    h1 {
        font-size: 1.5em;
    }

    .logo {
        width: 200px;
        background: url("../img/logo.png") no-repeat 20px 20px;
        background-size: 180px 46px;
        left: 0;
        top: 0;
        position: absolute;
    }

    .logo-dark {
        width: 100%;
        background: url("../img/logo-dark.png") no-repeat 20px 20px;
        background-size: 180px 46px;
        left: 0;
        top: 0;
        position: absolute;
    }

    .content {
        height: auto;
        width: 100%;
        float: left;
        padding: 30px 0 0 0;
    }

    .col-5 {
        width: calc(100% - 30px);
        padding: 15px;
        float: left;
        position: relative;
    }

    #port {
        position: relative;
        background-position: center;
    }

    .side-menu {
        display: none;
    }

    .first-text {
        position: relative;
        left:0;
    }

    .btn {
        margin: 15px;
        width: calc(100% - 30px);
    }

    .left-img {
        max-height: 200px;
        overflow: hidden;
    }

    .left-img img {
        width: 100%;
        height: auto;
    }

    .iphone, .nexus {
        display: none;
    }

    .download, .donate, .menu {
        padding: 20px;
        width: calc(100% - 40px);
        margin: 0;
    }

    .download .btn {
        margin: 15px;
        width: calc(100% - 30px);
    }

    .slide7 {
        width: auto;
    }

    .menu {
        height: 150px;
    }

    .photo {
        width: 100%;
        text-align: center;
    }

    .photo img {
        width: 250px;
        height: 250px;
    }

    .desc {
        width: 100%;
    }

}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-wtl94b');
    src:url('../fonts/icomoon.eot?#iefix-wtl94b') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?-wtl94b') format('truetype'),
    url('../fonts/icomoon.woff?-wtl94b') format('woff'),
    url('../fonts/icomoon.svg?-wtl94b#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
    content: "\f099";
}
.icon-facebook:before {
    content: "\f09a";
}
.icon-envelope:before {
    content: "\f0e0";
}
.icon-vk:before {
    content: "\f189";
}
.icon-odnoklassniki:before {
    content: "\f263";
}
.icon-whatsapp:before {
    content: "\e600";
}
.icon-playmarket:before {
    content: "\e601";
    vertical-align: baseline;
    line-height: 44px;
}
.icon-appstore:before {
    content: "\e602";
    vertical-align: baseline;
    line-height: 38px;
}
.icon-culture:before {
    content: "\e603";
}
.icon-sport:before {
    content: "\e604";
}
.icon-technology:before {
    content: "\e605";
}
.icon-worldnews:before {
    content: "\e606";
}
.icon-economy:before {
    content: "\e607";
}